<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nova Market | Productos</title>
    <link rel="stylesheet" href="../Style/index.css">
</head>
<body>
    <!-- navbar -->
  <header class="navbar">
    <div class="logo-container">
        <img src="../Imagenes.jpg/Nova Market.png" alt="Nova Market Logo" class="logo-img">
    </div>
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Buscar producto...">
        <button onclick="searchProduct()">Buscar</button>
    </div>
    <a href="login.html" class="login-btn">Iniciar Sesión</a>
</header>
    <!-- PRODUCTOS -->
    <section class="products" id="productList">
        <!-- PRODUCTO 1 -->
        <div class="product-card">
            <img src="../Imagenes.jpg/camisa 1.jpg" alt="Camiseta de Fitness ">
            <h3>Camiseta Superman Oscuro</h3>
            <p>Q175</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <!-- PRODUCTO 2 -->
        <div class="product-card">
            <img src="../Imagenes.jpg/camisa 2.jpg" alt="Camiseta de Compresion ">
            <h3>Camiseta Oscura De compresion</h3>
            <p>Q120</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <!-- PRODUCTO 3 -->
        <div class="product-card">
            <img src="../Imagenes.jpg/camisa 3.jpg" alt="Producto 3">
            <h3>Camiseta Compresion blanca</h3>
            <p>Q150</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
      <!-- PRODUCTO 4-->
        <div class="product-card">
            <img src="../Imagenes.jpg/pantalon 1.jpg" alt="Producto 4">
            <h3>Pantalon Young Negro</h3>
            <p>Q280</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <!-- PRODUCTO 5 -->
        <div class="product-card">
            <img src="../Imagenes.jpg/pantalon 2.jpg" alt="Producto 5">
            <h3>Pantalon Young Gris</h3>
            <p>Q275</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <!-- PRODUCTO 6 -->
        <div class="product-card">
            <img src="../Imagenes.jpg/short 1.jpg" alt="Producto 6">
            <h3>Short Young Negro</h3>
            <p>Q235</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <!-- PRODUCTO 7 -->
        <div class="product-card">
            <img src="../Imagenes.jpg/Conjunto 1.jpg" alt="Producto 7">
            <h3>Conjunto Young rojo</h3>
            <p>Q280</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <!-- PRODUCTO 8 -->
        <div class="product-card">
            <img src="../Imagenes.jpg/pantalon 3.jpg" alt="Producto 8">
            <h3>Pantalon Young Gris</h3>
            <p>Q280</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <!-- PRODUCTO 9 -->
        <div class="product-card">
            <img src="../Imagenes.jpg/camisa anime.jpg" alt="Producto 9">
            <h3>Camiseta Anime</h3>
            <p>Q100</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <!-- PRODUCTO 10 -->
        <div class="product-card">
            <img src="../Imagenes.jpg/camisa chamba.jpg" alt="Producto 10">
            <h3>camisa chamba</h3>
            <p>Q125</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <!-- PRODUCTO 11 -->
        <div class="product-card">
            <img src="../Imagenes.jpg/camisa pirata.jpg" alt="Producto 11">
            <h3>Camiseta Luffy</h3>
            <p>Q120</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <!-- PRODUCTO 12 -->
        <div class="product-card">
            <img src="../Imagenes.jpg/camisa spider.jpg" alt="Producto 12">
            <h3>Camiseta Spiderman</h3>
            <p>Q165</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <!-- PRODUCTO 13 -->
        <div class="product-card">
            <img src="../Imagenes.jpg/Camis star.jpg" alt="Producto 13">
            <h3>Camiseta Star</h3>
            <p>Q185</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <!-- PRODUCTO 14 -->
        <div class="product-card">
            <img src="../Imagenes.jpg/camisa God.jpg" alt="Producto 14">
            <h3>Camiseta God</h3>
            <p>Q125</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <!-- PRODUCTO 15 -->
        <div class="product-card">
            <img src="../Imagenes.jpg/Gymold.jpg" alt="Producto 15">
            <h3>Camiseta Gymold</h3>
            <p>Q165</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <!-- PRODUCTO 16    -->
        <div class="product-card">
            <img src="../Imagenes.jpg/camisa ninja.jpg" alt="Producto 16">
            <h3>Camiseta Ninja</h3>
            <p>Q165</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <!-- PRODUCTO 17 -->
        <div class="product-card">
            <img src="../Imagenes.jpg/sudadera.jpg" alt="Producto 17">
            <h3>Sudadera</h3>
            <p>Q280</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <!-- PRODUCTO 18 -->
        <div class="product-card">
            <img src="../Imagenes.jpg/sudadero Negro.jpg" alt="Producto 18">
            <h3>Sudadera Negra</h3>
            <p>Q280</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <!-- PRODUCTO 19 -->
        <div class="product-card">
            <img src="../Imagenes.jpg/sudadero young.jpg" alt="Producto 19">
            <h3>Sudadera Young</h3>
            <p>Q280</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <!-- PRODUCTO 20 -->
        <div class="product-card">
            <img src="../Imagenes.jpg/straps de gym.jpg" alt="Producto 20">
            <h3>Straps de Gym</h3>
            <p>Q125</p>
            <button onclick="requireLogin()">Comprar</button>
        </div>
        <script src="script.js"></script>
</body>
</html>