<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login | Nova Market</title>
    <link rel="stylesheet" href="../Style/Login.css">
    <script src="../js/Login.js"></script>
</head>

<body class="login-page">
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <input type="text" id="usuario" placeholder="Usuario">
        <input type="password" id="password" placeholder="Contraseña">
        <button id="btnIngresar">Entrar</button>
        <a href="index.html">Volver a productos</a>
    </div>
</body>
</html>